<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <h4 class="mb-3 mb-md-0">Satışlar</h4>
</div>

<div class="card grid-margin d-none d-lg-block">
  <div class="card-body">
    <div class="table-responsive">
      <ngx-datatable
        #myTable
        class="bootstrap expandable"
        [headerHeight]="50"
        [columnMode]="'force'"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)="setPage($event)"
        [externalPaging]="true"
        [loadingIndicator]="isLoading"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="data"
        [scrollbarH]="true"
      >
        <ngx-datatable-column
          name="Index"
          [width]="60"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template ngx-datatable-header-template>
            <span>#</span>
          </ng-template>
          <ng-template
            let-rowIndex="rowIndex"
            let-row="row"
            ngx-datatable-cell-template
          >
            <b>{{ rowIndex + 1 * page.pageNumber }}</b>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="name">
          <ng-template ngx-datatable-header-template>
            <span>Kullanıcı</span>
          </ng-template>
          <ng-template
            let-value="value"
            let-row="row"
            ngx-datatable-cell-template
          >
            {{ row.name + " " + row.sur_name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="email">
          <ng-template ngx-datatable-header-template>
            <span>Email</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="price">
          <ng-template ngx-datatable-header-template>
            <span>Ücret</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <p>{{ value | currency: " " }}₺</p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="before">
          <ng-template ngx-datatable-header-template>
            <span>Jeton Önce</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <p>{{ value }}</p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="after">
          <ng-template ngx-datatable-header-template>
            <span>Jeton Sonra</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <p>{{ value }}</p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="sku">
          <ng-template ngx-datatable-header-template>
            <span>SKU</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <p>{{ value }}</p>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="value">
          <ng-template ngx-datatable-header-template>
            <span>Jeton</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <p>{{ value }}</p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="createdAt">
          <ng-template ngx-datatable-header-template>
            <span>Tarih</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <p>{{ value | date: "dd.MM.yyyy HH:mm" }}</p>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="d-md-block d-lg-none">
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-6 stretch-card"
      *ngFor="let item of data; let i = index"
    >
      <div class="card stretch-card mb-3">
        <div class="card-body">
          <b class="card-title">
            {{ item.name + " " + item.sur_name }}
          </b>
          <ul class="list-group list-group-flush list-group-sm">
            <li class="list-group-item d-flex justify-content-between">
              <span>E-Mail</span>
              <b>{{ item.email }}</b>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Ücret</span><br />
              <b>{{ item.price | currency: " " }}₺</b>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Jeton Önce</span>
              <b>{{ item.before }}</b>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Jeton Sonra</span>
              <b>{{ item.after }}</b>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>SKU</span><br />
              <b>{{ item.sku }}₺</b>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Tarih</span>
              <b>{{ item.createdAt | date: "dd.MM.yyyy HH:mm" }}₺</b>
            </li>
          </ul>
        </div>
        <div class="card-footer p-1">
          <a
            ngbTooltip="Düzenle"
            [routerLink]="['/package/edit', item._id]"
            class="btn btn-icon btn-light m-1"
            ><span class="btn-label"><i class="feather icon-edit"></i></span
          ></a>
          <button
            ngbTooltip="Sil"
            (click)="delete(item._id)"
            class="btn text-danger btn-icon btn-light m-1"
          >
            <span class="btn-label"><i class="feather icon-x"></i></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <ngb-pagination
        [collectionSize]="page.totalElements"
        (click)="setPage2(pageNumber)"
        [ellipses]="false"
        [(page)]="pageNumber"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
  </div>
</div>
